    {% extends 'base.html' %}

    {% block title %} Login {% endblock %}

    {% block content %}
    <!-- <fieldset>
        <legend><h2>Login</h2></legend>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
        {% for message in messages %}
        
        <div id="err-msg" style="color: red;">
               {{ message }}
        </div>
    {% endfor %}
    <br>
            <input type="submit" value="Login">
        </form>
            <p>OR</p>
            <div>
                <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa-solid fa-user">Login with Google</i></a></button>
            </div>
            <br>
            <a href="{% url 'register' %}">Not yet registered?</a>
    </fieldset> -->

<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card bg-white">
                    <div class="card-body">
                        <form method="post" action="{% url 'login' %}" class="mb-3 mt-md-4">
                            {% csrf_token %}
                            <h2 id="headingId" class="fw-bold mb-4 text-uppercase text-center ">Login</h2>
                            {% if messages %}  
                                {% for message in messages %} 
                                    {% if "register" in message.tags %}
                                        <div class="alert alert-success">
                                                <strong>{{ message }}</strong>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.auto_id }}" class="form-label ">{{ field.label }}</label>
                                {{field}}
                            </div>
                            {% endfor %}

                            {% for message in messages %}

                                {% if "login" in message.tags %}   
                                    <div class="alert alert-danger">
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endif %}
                                
                            {% endfor %}
                            <div class="d-grid">
                                <button class="btn btn-outline-dark" type="submit">Login</button>
                            </div>
                            <br>
                            <div class="d-grid">
                                <a class="btn btn-outline-dark" href="{% url 'social:begin' 'google-oauth2' %}">
                                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                    Login with Google
                                </a>
                            </div>
                            <br>
                            <div>
                                <p class="mb-0  text-center">Don't have an account? <a href="{% url 'register' %}" class="text-primary fw-bold">Sign Up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {% endblock %}


    {% block script %}

        <script>
            setTimeout(function(){
                $('.alert').fadeOut();
            }, 3000)
        </script>

    {% endblock %}